@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lexend:wght@100..900&family=Madimi+One&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.old{
    font-family: "Old Standard TT", serif;
}
.midmi{
    font-family: "Madimi One", sans-serif;
}
.leg{
    font-family: "Lexend", sans-serif;
}